@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0b1829;
  --secondary-color: #011e3c;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: white;
}
